@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
layer(base);
@import 'tailwindcss';

@config '../tailwind.config.js';

@utility flexBetween {
  @apply flex justify-between items-center;
}

@utility flexCenter {
  @apply flex items-center justify-center;
}

@utility filterContainer {
  padding: 10px 0 50px 0;
  display: grid;
  grid-template-columns: 20% 77%;
  gap: 3%;
  align-items: flex-start;
}

@layer utilities {
  body {
    font-family: 'Noto Sans JP', sans-serif;
  }
  @media (max-width: 476px) {
    .Toastify__toast {
      --toastify-toast-width: 70%;
      margin: 20px auto 0;
    }
  }
}
