@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

@import "tailwindcss";

@theme {
  --text-textSm: 14px;
  --text-textMd: 16px;
  --text-textLg: 20px;
  --color-primary: #8e24aa;
  --color-secondary: #e4aff8;
  --color-bgBox: #fcf5fe;
  --color-bgWhite: #f7f7f7f7;
  --font-rubik: "Rubik Mono One", "serif";
}

@utility filterContainer {
  padding: 10px 0 50px 0;
  display: grid;
  grid-template-columns: 20% 77%;
  gap: 3%;
  align-items: flex-start;
}

@layer base {
  body {
    font-family: "Noto Sans JP", sans-serif;
  }
}

@media (max-width: 476px) {
  .Toastify__toast {
    --toastify-toast-width: 70%;
    margin: 20px auto 0;
  }
}

@layer utilities {
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
}
