@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 476px) {
  .Toastify__toast {
    --toastify-toast-width: 70%;
    margin: 20px auto 0;
  }
}

@layer utilities {
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .filterContainer {
    padding: 10px 0 50px 0;
    display: grid;
    grid-template-columns: 20% 77%;
    gap: 3%;
    align-items: flex-start;
  }
}
